<IfModule mod_rewrite.c>
    RewriteEngine On

    # Wenn Datei oder Ordner existiert → normal ausliefern
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Alles andere an index.php weiterleiten
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
